body {
  font-family: 'Arsenal', sans-serif;
  background-color: #e5ded7;
  /*background-image: url('assets/classified-background10.jpeg');*/
  opacity: .9;
}

/*.home-page {
  background-image: url('assets/classified-background7.jpeg');
  opacity: .9;
}*/

a:focus, a:hover {
    color: black;
    text-decoration: none;
    opacity: .3;
}

a {
    color: black;
    text-decoration: none;
}

.header-text {
  font-size: 60px;
}
.description-text {
  font-size: 20px;
}

.bar {
  opacity: 0.7;
  background: #f2e6d9;
  border-top: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
  margin-top: 5.0em;
  color: black;
}

.custom-button {
  text-decoration: none;
  min-width: 130px;
  font-size: 20px;
  color: black;
  background-color: white;
  border-color: #f2e6d9;
}

.custom-card {
  background-color: #f2e6d9;
}
